@page "/"

<PageTitle>Feedback</PageTitle>

<div class="mx-5 my-5">
    <MudButton Variant="Variant.Filled" Color="Color.Primary" FullWidth="true" StartIcon="@Icons.Material.Filled.CameraAlt">
        Take a picture
    </MudButton>
</div>